body , body #fork{
	display: flex;
}
body #fork img{
	display:flex;
	width: 100%;
	height:10%;
}
.container{
	display: flex;
	flex-direction: column;
	margin-left:10%;
	margin-right:10%;
	width:100%;
	height:100%;
}
.container #octocat-container{
	display:flex;	
	width:100%;
	height:100%;
}
.container #octocat-container .badge{
	display:flex;
	flex-direction: column;
	justify-content:center;
	width:100%;
	height:100%;
}
.container #octocat-container .badge h1{
	display: flex;
	font-style: oblique;
	flex-direction: column;
	width:100%;
	height:100%;
}
.container #octocat-container .badge img{
	display: flex;
}
.container #octocat-logo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	width:100%;
	height:100%;
}
.container #octocat-logo img, #preview iframe{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
 .container #preview iframe{
 	width: 50%;
 	height: 50%;
 }
.container #search{
	background: rgb(230, 185, 210);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding: 20px 20px 10px 20px;
}
.container #checkbox-container, #info p{
	display: flex;
}
.container #info{
	display:flex;
	padding:5%;
}
.container #info div{
	display:flex;
	flex-direction:column;
	width:100%
}
.container #info h2{
	display:flex;
	justify-content:center;
}